body {
  margin: 0 1vw;
}

body h1 {
  margin-bottom: 0px;
}

body h4 {
  margin-top: 0px;
}

#wrapper {
  overflow-x: scroll;
}

#ctrl-buttons {
  margin: 5px;
  text-align: center;
}

#icon-buttons {
  max-width: 1000px;
}

#canvas {
  margin-bottom: -3px;
}

.button {
  margin: 2px;
}
